.container{
    background:rgb(48, 47, 78) !important;
    animation: increase 1s forwards;
    align-items: center;
    justify-content: center;
    width: 500px;
    position: relative;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

.container::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    animation: borderIncrease 1.2s ease-in-out;
    border-top: 1px solid rgb(255, 76, 96);
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    
    
}

.expandContainer{
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    border-radius: 5px;

}


.title{
    background:rgb(48, 47, 78) !important;
    width: 500px;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 100;
}


.arrow{
    position: absolute;
    right: 10%;
}

#qrCode{
    background:red;
}
@keyframes increase{
    from{ height: 0vh; }
    to{ height: 20vh; }
}

@keyframes borderIncrease{
    from{ width: 0%; }
    to{ width: 100%; }
}

@media screen and (max-width:767px)
{
    .title{
        width: 400px;
    }
    .container{
        width: 400px;
    }
}